<div ng-controller="swagCtrl">
  <div ng-show="allowConfig">
    <div class="checkbox">
      <label><input type="checkbox" ng-model="useSwaggerDoc" value="serverCodeGen">Generate server code from a Swagger document</label>
    </div>
    <div id="step3SwaggerLocalUpload" ng-show="useSwaggerDoc">
      <form id="step3SwaggerFileForm" action="#" method="POST" enctype="multipart/form-data">
        <div id="step3SwaggerFileState" ng-show="fileStatus"><span class="step3SwaggerFileStatus">{{fileStatus}} </span></div>
        <input type="file" id="step3SwaggerFileSelect" accept=".json,.yaml" ng-show="false"/>
        <a onclick="document.getElementById('step3SwaggerFileSelect').click();" class="btn btn-primary" role="button" ng-show="!fileStatus">Select file</a>
        <a ng-click="upload()" class="btn btn-primary" id="step3SwaggerUploadButton" ng-show="fileStatus">Upload</a>
        <a onclick="document.getElementById('step3SwaggerFileSelect').click();" class="btn btn-primary" role="button" ng-show="fileStatus">Select different file</a>
      </form>
    </div>
    </div>
  <div ng-show="!allowConfig">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Additional Swagger configuration is only available when you also select the REST technology.
  </div>
</div>
