<div id="step4">
    <div class="container">
        <div class="stepBar"></div>
        <div class="stepNumber">STEP <span class="numberOfSteps">2</span> / <span class="numberOfSteps">2</span></div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="stepHeading">Configure your project and either create in GitHub or download as a ZIP file.</div>
                <div class="options">
                    <label for="nameField"class="textLabel col-md-3 col-sm-3">Name the project:</label>
                    <input id="nameField"
                           type="text"
                           placeholder="Example: LibertyProject" autocomplete="off"
                           maxlength="50" ng-model="deploy.name" ng-change="updateService()">
                </div>
                <div class="row options">
                    <div class="col-md-12 col-sm-12">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="deploy.beta" ng-click="updateService()">Use <a href="https://developer.ibm.com/wasdev/docs/new-in-latest-earlyaccess/?src=accelerator"
                            target="WASdev" ng-click="sendGAEvent('Outbound', 'WASdev', 'beta')">Liberty Beta</a>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <div class="panel panel-configuration">
                            <div class="panel-heading" ng-click="toggleConfigOptions($event)" role="button"  data-toggle="tooltip" title="Click to configure additional options for your project">
                                <div class="row">
                                    <div class="options col-md-11 col-sm-11">Optional configuration</div>
                                    <i class="fa {{showConfigOptions ? angleIconUp : angleIconDown}} col-md-1 col-sm-1 h4" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="showConfigOptions">
                                <div class="row options">
                                    <div class="col-md-3 col-sm-3"><label for="nameField" class="textLabel">Group id:</label></div>
                                    <div class="col-md-9 col-sm-9"><input id="nameField"
                                        type="text"
                                        placeholder="Example: test.group.id" autocomplete="off"
                                        maxlength="50" ng-model="deploy.groupid" ng-change="updateService()"></div>
                                </div>
                                <div class="row options">
                                    <div class="col-md-3 col-sm-3"><label for="nameField" class="textLabel">Artifact id:</label></div>
                                    <div class="col-md-9 col-sm-9"><input id="nameField"
                                        type="text"
                                        placeholder="Example: testArtifactId" autocomplete="off"
                                        maxlength="50" ng-model="deploy.artifactid" ng-change="updateService()"></div>
                                </div>
                                <div class="row options">
                                    <div class="col-md-12 col-sm-12">
                                        <fieldset class="form-group">
                                            <legend class="radio-legend">Build type:</legend>
                                            <label class="radio-inline">
                                                <input type="radio" name="buildRadio" value="{{buildType.MAVEN}}" ng-model="deploy.buildType" ng-click="updateService()">Maven
                                            </label>
                                            <label class="radio-inline" ng-show="!isSelected('ms-builder')">
                                                <input type="radio" name="buildRadio" value="{{buildType.GRADLE}}" ng-model="deploy.buildType" ng-click="updateService()">Gradle
                                            </label>
                                            <label class="radio-inline radio-disabled" ng-show="isSelected('ms-builder')"  data-toggle="tooltip" title="Gradle is not available when Microservice Builder is selected">
                                                <input type="radio" name="buildRadio" ng-disabled=true>Gradle unavailable
                                            </label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row options">
                                    <div class="col-md-12 col-sm-12">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="deploy.bluemix" ng-click="updateService()">Bluemix default deployment
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="disclaimer" ng-show="deploy.buildType == buildType.MAVEN">Please note: The Maven projects created by the Liberty app accelerator have dependencies on projects with the following licenses: <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">AL 2.0</a> and <a href="https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/license/base_ilan/ilan/17.0.0.3/lafiles/en.html"
                                                                                                                                                                                                                                                        target="LibertyLicense">ILAN</a>.</div>
                <div class="disclaimer" ng-show="deploy.buildType == buildType.GRADLE">Please note: The Gradle projects created by the Liberty app accelerator have dependencies on projects with the following licenses: <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">AL 2.0</a> and <a href="https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/license/base_ilan/ilan/17.0.0.3/lafiles/en.html"
                                                                                                                                                                                                                                                        target="LibertyLicense">ILAN</a>.</div>
                <div ng-show="deploy.name && !projectQueryString"><a class="btn btn-primary" role="button" ng-click="callGenerateUrl()" ng-disabled="generateProjectDisabled">Generate project</a></div>
                <div ng-show="deploy.name && projectQueryString"><a class="btn btn-primary" role="button" ng-click="callGenerateUrl()" ng-disabled="generateProjectDisabled">Re-generate project</a></div>
                <div ng-show="!deploy.name"><a class="btn btn-primary" role="button" ng-disabled="true">Choose a project name</a></div>
                <div class="serverResponse" ng-show="generateStatus"><span class="step3SwaggerFileStatus">{{generateStatus}}</span></div>
                <div class="btn-separator"></div>
                <div class="row" ng-show="projectQueryString">
                    <div class="col-md-3"><a ng-href="{{getDownloadUrl()}}" target="#" class="btn btn-primary" role="button" ng-click="sendGAEvent('Download', 'Java', 'JEE')">Download project</a></div>
                    <div class="col-md-4"><a ng-href="{{getGitHubUrl()}}" target="#" class="btn btn-primary" role="button" ng-click="sendGAEvent('GitHubCreate', 'Java', 'JEE')">Create On GitHub</a></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="instructionHeading">Once the download is complete, locate your project and unzip it.</p>
                <div class="panel panel-instruction">
                    <div class="panel-body">
                        <div ng-show="!deploy.bluemix">
                            <p class="instruction">Run your application with: </p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.MAVEN">mvn install liberty:run-server</p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.GRADLE">gradle build libertyStart</p>
                        </div>
                        <div ng-show="deploy.bluemix">
                            <p class="instruction">Deploy to Bluemix with: </p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.MAVEN">mvn install -Pbluemix -Dcf.org=<span
                                    class="purpleCode">[your email address]</span> -Dcf.username=<span
                                    class="purpleCode">[your username]</span> -Dcf.password=<span
                                    class="purpleCode">[your password]</span></p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.GRADLE">gradle build cfPush -PcfOrg=<span
                                    class="purpleCode">[your email address]</span> -PcfUsername=<span
                                    class="purpleCode">[your username]</span> -PcfPassword=<span
                                    class="purpleCode">[your password]</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-instruction">
                    <div class="panel-body">
                        <p class="instruction">Access your application at: </p>
                        <div ng-show="!deploy.bluemix">
                            <p class="instructionRun"><a href="http://localhost:9080/{{deploy.name}}/" target="_blank" ng-click="sendGAEvent('Outbound', 'app endpoint', 'local')">http://localhost:9080/{{deploy.name}}/</a></p>
                        </div>
                        <div ng-show="deploy.bluemix">
                            <p class="instructionRun"><a href="http://{{deploy.name}}.mybluemix.net/{{deploy.name}}/" target="_blank" ng-click="sendGAEvent('Outbound', 'app endpoint', 'bluemix')">http://{{deploy.name}}.mybluemix.net/{{deploy.name}}/</a></p>
                            <p class="instruction">To manage your deployed application visit your dashboard on Bluemix.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-instruction">
                    <div class="panel-body">
                        <p class="instruction">Your application code can be found in: </p>
                        <p class="instructionRun">src/main/java</p>
                        <div ng-show="!deploy.bluemix">
                            <p class="instruction">Your Liberty server can be found in: </p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.MAVEN">target/liberty/wlp/usr/servers/defaultServer</p>
                            <p class="instructionRun" ng-show="deploy.buildType == buildType.GRADLE">build/wlp/usr/servers/defaultServer</p>
                        </div>
                        <p class="instruction">Optionally, <a href="wdt.html" target="_blank" ng-click="sendGAEvent('Outbound', 'resources', 'WDT')">import your project</a> into WebSphere Developer Tool</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
