<div>
    <div class="banner-footer">
        <div class="banner-img layered-bg"></div>
        <div class="banner-fade layered-bg"></div>
        <div class="bannerContent row">
            <div class="col-md-6 col-sm-6">
                <div class="instructionHeading row">Help us to help you!</div>
                <div class="instruction row">
                    We will be adding new technologies and capabilities to this page
                    over time. Get in touch To give us feedback or tell us which
                    technology types you would like to see please raise an issue on
                    our <a href="https://github.com/WASdev/tool.accelerate.core/issues" target="_blank"
                    ng-click="sendGAEvent('Outbound Link', 'GitHub', 'tool.accelerate.core/issues')" title="app accelerator Github">GitHub page</a>.
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 col-sm-4">
                <div class="instructionHeading row">Links for more information:</div>
                <div class="instruction row">
                    <ul>
                        <li><a
                            href="https://developer.ibm.com/wasdev/docs/microservices/?src=accelerator"
                            target="WASdev" title="Link to WASdev Microservices page"
                            ng-click="sendGAEvent('Outbound Link', 'WASdev', 'Microservices')">WASdev
                            Microservices</a> page</li>
                        <li><a
                            href="https://developer.ibm.com/wasdev/docs/category/getting-started/?src=accelerator"
                            target="WASdev" ng-click="sendGAEvent('Outbound Link', 'WASdev', 'Tutorial')"
                            title="Link to WASdev Tutorial page">WASdev Tutorial</a> page</li>                    
                        <li><a
                            href="https://github.com/WASdev/tool.accelerate.core/"
                            target="_blank" ng-click="sendGAEvent('Outbound Link', 'GitHub', 'tool.accelerate.core')"
                            title="Link to accelerator GitHub repository">GitHub</a> repository</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row disclaimer">
        <div  class="col-md-4">
          <span id="poweredByLiberty">Powered by Liberty, runs on
            Bluemix.</span><br/>
            <img class="img-responsive" src="img/logos.png" alt="Liberty and Bluemix">
        </div>
        <div class="col-md-8">
            <p>Copyright (c) 2015 IBM Corp.Licensed under the Apache
                License, Version 2.0 (the "License"); you may not use this file
                except in compliance with the License. You may obtain a copy of
                the License at www.apache.org/licenses/LICENSE-2.0.</p>
            <p>Unless required by applicable law or agreed to in writing,
                software distributed under the License is distributed on an "AS
                IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
                express or implied. See the License for the specific language
                governing permissions and limitations under the License.</p>
        </div>
    </div>
</div>
